<section class="connection" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="content">Contact</h2>
                    <br/><br/>
                </div>
            </div>
            <hr class="line">
            <div class="row text-center">
	            <div class="col col-md-4 content ">
	  				<div class="link col col-xs-8">
	  					<span>&#9742;: (+1)647-618-5066</span>
	  				</div>
	  			</div>
	  			<div class="col col-md-4 content">
	  				<div class="link col col-xs-8">
	  					<span><img class="git" [src]= "gitImageUrl" alt=""> : 
	                        <a href="https://github.com/L21"><span class="content">https://github.com/L21</span></a></span>
	  				</div>
	  			</div>
	  			<div class="col col-md-4 content">
	  				<div class="link col col-xs-8">
	  					<span>&#9993; <a href="mailto:nickymiantiao@gmail.com?Subject=Greetings!"><span class="content">nickymiantiao@gmail.com</span></a></span>
	  				</div>
	  			</div>
	  		</div>
        </div>
    </section>
