<header id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" [src]="imageurl" alt="">
                    <div class="intro-text">
                        <span class="greeting"><b>{{greeting}}</b>
                        </span>
                        <span class="skills">Welcome to {{authorFirstName}}'s website </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
